{% extends "components/layout.njk" %}

{% set noindex = true %}
{% set title = event.name ~ " | イツスル？ | 日程調整ツール" %}

{% block main %}
  <div class="event-header ">
    <h2>{{ event.name }}</h2>
    <nav>
      <ul>
        <li>
          <a href="/?eventId={{ event.id }}">編集</a>
        </li>
      </ul>
    </nav>
  </div>
  <form
      id="edit-form"
      hx-post="{{API_BASE_PATH}}/responseEvent"
      hx-swap="outerHTML"
      hx-select=".wrapper"
      hx-target="closest .wrapper"
      class="inherit-main"
  >
    <div>
      <input type="text"
          name="name"
          placeholder="名前を入力してね"
          {%- if participant %}value="{{ participant.name }}"{% endif %}
          required/>
    </div>
    <div class="form-field">
      <div>
        選んで送信してね
      </div>
      <ul class="candidate-dates">
        {% for c in event.candidateDates %}
          <li>
            <time datetime="{{c.key }}">
              {{ c.date }}
              {{ c.dayOfWeek }}
              {{ c.time }}
            </time>
            <ul class="edit-candidate-dates__buttons">
              <li>
                <input type="radio" name="responses[{{c.key}}]" value="YES" 
                  {%- if participant and participant.responses[c.key] ==='YES' %} checked{% endif %}/>
                <button class="button-icon">
                  <svg class="icon-response">
                    <use xlink:href="/image/icon/response.svg#yes"></use>
                  </svg>
                </button>
              </li>
              <li>
                <input type="radio" name="responses[{{c.key}}]" value="MAYBE" 
                  {%- if participant and participant.responses[c.key] === 'MAYBE' %} checked{%endif %}/>
                <button class="button-icon">
                  <svg class="icon-response">
                    <use xlink:href="/image/icon/response.svg#maybe"></use>
                  </svg>
                </button>
              </li>
              <li>
                {% if participant %}
                  <input type="radio" name="responses[{{c.key}}]" value="NO"
                    {%- if participant.responses[c.key] === 'NO' %} checked{%endif %}/>
                {% else %}
                  <input type="radio" name="responses[{{c.key}}]" value="NO" checked/>
                {% endif %}
                <button class="button-icon">
                  <svg class="icon-response">
                    <use xlink:href="/image/icon/response.svg#no"></use>
                  </svg>
                </button>
              </li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <input type="hidden" name="eventId" value="{{ event.id }}"/>
    {% if participant %}
      <input type="hidden" name="participantId" value="{{ participant.id }}"/>
    {% endif %}
  </form>
{% endblock %}

{% block footer %}
  <button form="edit-form" type="submit" data-loading-disable>
    送信
    <img src="/image/icon/bars.svg" class="htmx-indicator" alt="loading..."/>
  </button>
{% endblock %}