:root {
  --color-primary: #4663CB;
  --color-primary-gradient-end: #68a3e0;
  --color-secondary: #464559;
  --color-thirdly: #acd1ec;
  --color-border-base: #d6dcdf;
  --color-fg-base: #3C3C41;
  --color-fg-white: #fff;
  --color-bg-field: #fff;
  --color-bg-table-header: #d6e7f3;
  --color-success: #7cd085;
  --color-warning: #ffcd6b;
  --color-no-attendance: #838b8f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-family: Inter, sans-serif;
  font-feature-settings:
    'liga' 1,
    'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  html {
    font-family: InterVariable, sans-serif;
  }
}

[data-loading] {
  display: none;
}

input,
select,
textarea,
button {
  font: inherit;
  line-height: inherit;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.7;
  font-size: 16px;
  color: var(--color-fg-base);
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/image/aurola.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: var(--color-primary); // To change background color of status bar of smartphone
}

.htmx-indicator {
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
  display: inline;
  opacity: 1;
}

.htmx-request.htmx-indicator {
  opacity: 1;
}

.section-flatpickr {
  text-align: center;
}

#datepicker {
  opacity: 0 !important;
  position: absolute !important;
  z-index: -1 !important;
  pointer-events: none !important;
  user-select: none !important;
}

.candidate-date > li {
  display: flex;
  gap: 10px;
}

.flatpickr-calendar.inline {
  top: 0 !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 430px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper > header,
.wrapper > main,
.wrapper > footer {
  flex: 0 0 auto;
}

/* To hide background-color of body */
html,
body {
  min-height: 100%;
}

@media (max-height: 1000px) and (max-width: 430px) {
  html,
  body,
  .wrapper {
    height: 100%;
  }
  .wrapper > main {
    flex: 1 1 auto;
    overflow-y: auto;
  }
}

.header {
  display: flex;
  height: 72px;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  padding: 0px 16px;
  gap: 12px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 0 0 auto;
  align-self: stretch;
}

.header__logo a {
  display: block;
  width: 121px;
  height: 24px;
  background: url('/image/logo_with_question_mark.svg') left center no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.header__tagline {
  width: 156px;
  height: 12.735px;
  background: url('/image/tagline.svg') left center no-repeat;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  top: 6px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: stretch;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}

.inherit-main {
  display: inherit;
  flex-direction: inherit;
  gap: inherit;
  align-items: inherit;
}

footer {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

input[type='text'],
input[type='time'] {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--color-border-base);
  background: var(--color-bg-field);
  width: 100%;
}
input[type='text'] {
  padding: 12px 16px;
}
input[type='time'] {
  padding: 6px 16px;
}

input[type='text']:read-only {
  border-radius: 8px;
  border: 1px solid var(--color-border-base);
  background: var(--color-secondary);
  color: var(--color-fg-white);
}

input[hidden] {
  display: none !important;
}

button {
  display: flex;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 0;
  color: white;
  width: 100%;

  border-radius: 50px;

  /* TODO: add mixin or var */
  background: var(--color-primary) linear-gradient(
    273deg,
    var(--color-primary-gradient-end) 4.95%,
    var(--color-primary) 93.62%
  ) no-repeat;
  box-shadow: 0px 4px 20px 0px rgb(104 151 224 / 50%);
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-header a {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}
.event-header a::before {
  content: '';
  background: url('/image/icon/edit.svg') left center no-repeat;
  width: 16px;
  height: 18px;
  background-size: contain;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--color-border-base);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  line-height: 1.5;
}

table > thead {
  background-color: var(--color-bg-table-header);
}

table th {
  font-weight: normal;
}
table tr > th:first-of-type {
  position: sticky;
  left: 0;
  white-space: nowrap;
  border-left: 1px solid var(--color-border-base);
}
table tr > th:first-of-type::before {
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background-color: var(--color-border-base);
}

table > thead > tr > th:first-of-type {
  background-color: var(--color-bg-table-header);
}
table > tbody > tr > th:first-of-type {
  background-color: white;
}
table th,
table td {
  padding: 8px;
  border: 1px solid var(--color-border-base);
  text-align: left;
}

.table-candidate-date-primary {
  background-color: var(--color-success);
  color: white;
}
.table-candidate-date-secondary {
  background-color: var(--color-warning);
  color: white;
}

.candidate-dates {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.candidate-dates > li {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: var(--bg-primary, rgba(255, 255, 255, 0.6));
  box-shadow: 0px 0px 6px 0px rgba(18, 20, 21, 0.07);
  backdrop-filter: blur(2px);
}

.edit-candidate-dates__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.edit-candidate-dates__buttons > li {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.edit-candidate-dates__buttons > li > input[type='radio'] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.edit-candidate-dates__buttons > li > button {
  border-radius: 30px;
  background: var(--color-thirdly);

  /* button shadow */
  box-shadow: 0px 0px 6px 0px #c5d5de;
}

.edit-candidate-dates__buttons > li > input[type='radio']:checked + button {
  /* button active shadow */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25) inset;
}
.edit-candidate-dates__buttons
  > li
  > input[type='radio'][value='YES']:checked
  + button {
  border-radius: 30px;
  background: var(--color-success);
}
.edit-candidate-dates__buttons
  > li
  > input[type='radio'][value='MAYBE']:checked
  + button {
  border-radius: 30px;
  background: var(--color-warning);
}
.edit-candidate-dates__buttons
  > li
  > input[type='radio'][value='NO']:checked
  + button {
  border-radius: 30px;
  background: var(--color-no-attendance);
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.form-field-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.copy-message {
  opacity: 0;
  font-weight: bold;
  color: var(--color-success);
  transition: opacity 200ms ease-in-out;
}
.copy-message-show {
  opacity: 1;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
.flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.event-time {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.event-time-header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.base-time-selector {
  display: flex;
  align-items: center;
  gap: 8px;
}
