{% if event %}
  {% set ACTION_PATH = "/updateEvent" %}
{% else %}
  {% set ACTION_PATH = "/createEvent" %}
{% endif %}

{% extends "components/layout.njk" %}

{% block title -%}
  {{ event.name if event else "イツスル | 日程調整ツール" }}
{%- endblock %}

{% block main %}
  <form id="create-form" class="inherit-main" hx-post="{{API_BASE_PATH}}{{ ACTION_PATH }}"
          hx-swap="outerHTML" hx-select=".wrapper" hx-target="closest .wrapper">
    <div class="form-field">
      <h1 class="catch-copy">みんなと日程調整をスタート</h1>
      <div>
        <input type="text" id="event-name" name="name" 
                {% if event %}value="{{ event.name }}"{% endif %}
                placeholder="イベント名を入力してね" required="required"/>
      </div>
    </div>
    <div class="form-field">
      <label>候補日を選んでね</label>
      <div class="section-flatpickr">
        {% if event %}
          <input id="datepicker" name="candidateDates" value="{{ event.candidateDates }}" hidden required/>
        {% else %}
          <input id="datepicker" name="candidateDates" hidden required/>
        {% endif %}
      </div>
    </div>
    <div class="form-field">
      <div class="event-time-header">
        <label>時間を選んでね</label>
        <div>
          <input type="checkbox" name="timeByDay" id="time-by-day"{% if event.timeByDay %} checked{% endif %}/>
          <label for="time-by-day">日ごとに設定</label>
        </div>
      </div>
      <div class="event-time">
        <div class="flex-justify-between">
          <div>
            <input type="time" id="base-time" name="baseTime" value="{{ event.baseTime }}" 
                {% if event.timeByDay %} hidden disabled{% endif %} required/>
          </div>
        </div>
        <div id="event-time"></div>
      </div>
      {% if event %}
        <input type="hidden" name="eventId" value="{{ event.id }}"/>
      {% endif %}
    </form>

    <template id="event-time-template">
      {% raw %}
        <div>
          <ul class="candidate-dates">
            {% for c in candidateDates %}
              <li class="flex-justify-between">
                <time datetime="{{c.key}}">
                  {{ c.date }}
                </time>
                <div>
                  <input type="time" value="{{c.time}}" name="candidateTimes[{{c.key}}]" required/>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endraw %}
    </template>

  {% endblock %}

  {% block footer %}
    <button form="create-form" type="submit">
      {%- if event -%}イベント更新{%- else -%}イベント作成{%- endif -%}
      <img src="https://htmx.org/img/bars.svg" class="htmx-indicator" alt="loading..."/>
    </button>
  {% endblock %}