<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TXLH0VX2S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-9TXLH0VX2S');
    </script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>
      {%- block title %}{% endblock -%}
    </title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/flatpickr.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
    <script type="module" src="index.js" defer="defer"></script>

  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1 class="header__logo">
          <a href="/" hx-boost="true">イツスル</a>
        </h1>
        <h2 class="header__tagline">日程調整を簡単に</h2>
      </header>
      <main>
        {% block main %}
          <!-- Default content goes here if not overridden -->
        {% endblock %}
      </main>
      <footer>
        {% block footer %}
          <!-- Default content goes here if not overridden -->
        {% endblock %}
      </footer>
    </div>

  </body>
</html>