<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9TXLH0VX2S"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-9TXLH0VX2S');
    </script>
    <meta charset="UTF-8"/>

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <!-- SEO -->
    <meta name="canonical" content="https://itsusuru.com">
    <meta name="description" content="ログイン不要！ブラウザで完結するライトな日程調整ツールです">

    <!-- Robots -->
    {% if noindex | default(false) -%}
      <meta name="robots" content="noindex, nofollow">
    {%- endif %}

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ url | default('https://itsusuru.com') }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title | default('イツスル？ | 日程調整を簡単に') }}">
    <meta property="og:description" content="{{ description | default('ログイン不要！ブラウザで完結するライトな日程調整ツールです') }}">
    <meta property="og:image" content="https://itsusuru.com/image/ogp.png">
    <meta property="og:locale" content="ja-JP">
    <meta property="og:site_name" content="イツスル？ | 日程調整を簡単に">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="itsusuru.com">
    <meta property="twitter:url" content="{{ url | default('https://itsusuru.com') }}">
    <meta name="twitter:title" content="{{ title | default('イツスル？ | 日程調整を簡単に') }}">
    <meta name="twitter:description" content="{{ description | default('ログイン不要！ブラウザで完結するライトな日程調整ツールです') }}">
    <meta name="twitter:image" content="https://itsusuru.com/image/ogp.png">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon/favicon-16x16.png">
    <link rel="manifest" href="/image/favicon/site.webmanifest">
    <link rel="mask-icon" href="/image/favicon/safari-pinned-tab.svg" color="#4693cb">
    <meta name="apple-mobile-web-app-title" content="イツスル">
    <meta name="application-name" content="イツスル">
    <meta name="msapplication-TileColor" content="#4693cb">
    <meta name="theme-color" content="#ffffff">

    <!-- Title -->
    <title>{{ title | default('イツスル？ | 日程調整を簡単に') }}</title>

    <!-- CSS -->
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/flatpickr.css"/>

    <!-- JavaScript -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/nunjucks@3.2.4/browser/nunjucks.min.js"></script>
    <script type="module" src="index.js" defer="defer"></script>

  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1 class="header__logo">
          <a href="/" hx-boost="true">イツスル</a>
        </h1>
        <h2 class="header__tagline">日程調整を簡単に</h2>
      </header>
      <main>
        {% block main %}
          <!-- Default content goes here if not overridden -->
        {% endblock %}
      </main>
      <footer>
        {% block footer %}
          <!-- Default content goes here if not overridden -->
        {% endblock %}
      </footer>
    </div>

  </body>
</html>