<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>
      {%- block title %}{% endblock -%}
    </title>
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/flatpickr.override.css"/>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="index.js" defer="defer"></script>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <h1 class="header__logo">
          <a href="/" hx-boost="true">イツスル</a>
        </h1>
      </header>
      <main>
        {% block main %}
          <!-- Default content goes here if not overridden -->
        {% endblock %}
      </main>
      <footer>
        {% block footer %}
          <!-- Default content goes here if not overridden -->
        {% endblock %}
      </footer>
    </div>
  </body>
</html>